@using Microsoft.AspNetCore.Identity;
@model IEnumerable<Job>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager
    <ul>

@foreach(var job in Model){
    <li>@job.Title</li>
}
    </ul>